.skills {
  min-height: 100vh;
  width: 100%;
}

.skills-and-experiences {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  padding-top: 30px;
  padding-bottom: 30px;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(2.5rem, 10vw, 4.5rem), 1fr));
  height: fit-content !important;
  gap: 14px;
}
.experiences-list{
  display: flex;
  flex-direction: column;
  gap:14px;
  padding-top:14px;
}

.skills-and-education{
  display: flex;
  gap:40px;
  padding-top:14px !important
}

.skills-container, .education-container{
  width: 50%;
}

.education-list{
  display: flex;
  flex-direction: column;
  gap:14px;
}



.app__skills-exp-work-list p, ul{
  font-size: 12px;
}


@media (max-width: 970px) {
.skills-and-education{
  display: block;
}
.skills-container, .education-container{
  width: 100%;
}

.dependent-education-title{
  display: none;
}  
.shrinked-education-title{
  display: block !important;
  margin-top: 30px !important;
}

.education-list{
  padding-top: 14px;
}


  


}
  

@media (max-width: 580px) {
  .skills h3{
    font-size: 0.9em;
  }
  .app__skills-exp-works p, ul, .icon{
    font-size: 10px !important;
  }
  .app__skills-exp-works h5, h4{
    font-size:10px !important;
  }
  

  
  .skills {
    height: auto !important;
  }

 
  .skills-item div {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  .skills-item p {
    font-size: 9px !important;
    

  }
}

@media (max-width: 900px) {
  .skills {
    height: auto !important;
  }
}


.skills-list {
  padding: 0px 30px 30px 0px;
}
.skills-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.skills-item div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-item p {
  margin-top: 0.3rem;
  font-size: 12px;
}

.skills-item img {
  width: 50%;
  height: 50%;
}

.experiences-container {
  display: flex;
  flex-direction: column; /* İçerikleri dikey hizala */
}
.experiences-title {
  display: none;
}

.skills_company_name {
  font-weight: bold;
}

.app__skills-exp-item {
  width: 100%;
  display: flex;
}

.app__skills-exp-works {
  width: 100%;
}

.app__skills-exp-year {
  margin-right: 1.5rem;



  @media screen and (max-width: 450px) {
    margin-right: 1rem;
  }
}

.app__skills-exp-work ul {
  list-style-type: disc; /* Ensures bullet points are discs */
  margin-left: 12px; /* Adjusts the left margin for indentation */
  padding-left: 0; /* Resets padding to avoid extra space */
}
.skills-tooltip {
  max-width: 300px !important;
  background-color: #fff !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: var(--gray-color) !important;
  line-height: 1.5 !important;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem !important;
    max-width: 500px !important;
    line-height: 2 !important;
  }
}

.skills-tooltip ul li {
  font-size: 12px;
}
.skills-tooltip ul li + li {
  margin-top: 5px;
}
