.socials{
    display: flex;
    gap:16px;
    padding-top: 14px;
    font-size: 18px;

    color: var(--secondaryText);
    align-items: center;
    
}

.socials p{
    font-size: 12px;
}

.social_icon{
    border: 1px solid var(--secondaryText);
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}